
body {
    background-color: #4F6D7A;
    position: relative;
}

.board-interface {
  width: 80%;
  height: 77%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  border: .7dvw solid #E8DAB2;
  box-sizing: border-box;
}

.players-container {
	margin: 1dvw 2dvw 2dvw 2dvw;
	overflow: auto;
  }

.no-players {
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%);
}

.no-players h1 {
	font-family: 'Bodoni Moda', serif;
	font-size: 3dvw;
	color: #2f424a;
}

.no-players h2 {
	font-family: 'Quattrocento', serif;
	font-size: 1.2dvw;
	color: #2f424a;
}