@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&display=swap');

.channel-messages-settings-border {
  position: absolute;
  width: 40%;
  z-index: 3;
  border: .1dvw solid #2f424a;
  box-sizing: border-box;
  filter: drop-shadow(0 .1dvw .2dvw rgba(0, 0, 0, 0.8));
  right: 0%;
}

.channel-messages-settings {
  box-sizing: border-box;
  background-color: #4F6D7A;
  border: .7dvw solid #E8DAB2;
}

.title {
  margin: 5%;
  color: #2f424a;
  font-family: 'Bodoni Moda', serif;
  font-size: 1.5dvw;
  text-align: center;
  justify-content: center;
}

button {
  color: #4F6D7A;
  background-color: #E8DAB2;
  font-size: 1.2dvw;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  height: 4.5dvh;
  width: 5.5dvw;
  border: .2dvh solid #2f424a;
}

button:hover {
  background-color: #e9d5a1;
}

.close {
  margin: 0% 10% 7% 10%;
}

.apply {
  margin: 0% 10% 7% 10%;
  float: right;
}

