.vscode
.DS_Store
node_modules
.env
# data storage
backend/ping_pong_backend/docker_volumes

#env
backend/ping_pong_backend/.env

# compiled output
backend/ping_pong_backend/dist
backend/ping_pong_backend/node_modules

# Logs
backend/ping_pong_backend/logs
backend/ping_pong_backend/*.log
backend/ping_pong_backend/npm-debug.log*
backend/ping_pong_backend/pnpm-debug.log*
backend/ping_pong_backend/yarn-debug.log*
backend/ping_pong_backend/yarn-error.log*
backend/ping_pong_backend/lerna-debug.log*

# OS
backend/ping_pong_backend/.DS_Store

# Tests
backend/ping_pong_backend/coverage
backend/ping_pong_backend/.nyc_output

# IDEs and editors
backend/ping_pong_backend/.idea
backend/ping_pong_backend/.classpath
backend/ping_pong_backend/.c9/
backend/ping_pong_backend/*.launch
backend/ping_pong_backend/.settings/
backend/ping_pong_backend/*.sublime-workspace

# IDE - VSCode
backend/ping_pong_backend/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json