.vscode
.DS_Store
node_modules
# .env
# data storage
backend/db

#env
# backend/.env

# compiled output
backend/nest/app/dist
backend/nest/app/node_modules

# Logs
backend/nest/app/logs
backend/nest/app/*.log
backend/nest/app/npm-debug.log*
backend/nest/app/pnpm-debug.log*
backend/nest/app/yarn-debug.log*
backend/nest/app/yarn-error.log*
backend/nest/app/lerna-debug.log*

# OS
backend/nest/app/.DS_Store

# Tests
backend/nest/app/coverage
backend/nest/app/.nyc_output

# IDEs and editors
backend/nest/app/.idea
backend/nest/app/.classpath
backend/nest/app/.c9/
backend/nest/app/*.launch
backend/nest/app/.settings/
backend/nest/app/*.sublime-workspace

# IDE - VSCode
backend/nest/app/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json