<div class="message-session-user-container" *ngIf="sameSender == false && msg?.sessionUser == true">
  <div class="message-session-user">
    <div class="message-content">{{ msg?.messageContent }}</div>
  </div>
</div>

<div class="message-session-user-same-sender-container" *ngIf="sameSender == true && msg?.sessionUser == true">
  <div class="message-session-user-same-sender">
    <div class="message-content">{{ msg?.messageContent }}</div>
  </div>
</div>

<div class="message" *ngIf="sameSender == false && msg?.sessionUser == false">
  <div class="message-sender">{{ msg?.name }}</div>
  <div class="message-content">{{ msg?.messageContent }}</div>
</div>

<div class="message-same-sender" *ngIf="sameSender == true && msg?.sessionUser == false">
  <div class="message-content">{{ msg?.messageContent }}</div>
</div>
