@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&display=swap');

.channel-creation-menu-border {
  position: absolute;
  width: 40%;
  z-index: 3;
  border: .1dvw solid #2f424a;
  box-sizing: border-box;
  filter: drop-shadow(0 .1dvw .2dvw rgba(0, 0, 0, 0.8));
  left: 0%;
}

.channel-creation-menu {
  box-sizing: border-box;
  background-color: #4F6D7A;
  border: .7dvw solid #E8DAB2;
}

.title {
  margin: 5%;
  color: #2f424a;
  font-family: 'Bodoni Moda', serif;
  font-size: 1.5dvw;
  text-align: center;
  justify-content: center;
}

.is-invalid {
  border-bottom: .1dvw solid #b04343;
}

.btn-invalid {
  color: #2b3a41;
  background-color: #988e6f;
}

.btn-invalid:hover {
  color: #2b3a41;
  background-color: #988e6f;
}

p {
  margin: 10%;
  margin-bottom: 5%;
  margin-top: 0%;
  padding: 0%;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  color: #2f424a;
  font-size: .7dvw;
}

label {
  display: block;
  margin-left: 10%;
  font-size: 1dvw;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  color: #E8DAB2;
}

input {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 7%;
  padding: 3%;
  width: 74%;
  font-size: 0.9dvw;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  border: none;
  border-bottom: .1dvw solid #E8DAB2;
  background-color: #425c68;
  color: #E8DAB2;
  outline: none;
}

.user-search {
  margin-bottom: 20% !important;
}

.search-result {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%  ;
}

.user {
  margin-top: 0%;
  background-color: #E8DAB2;
  box-sizing: border-box;
  border: .1dvw solid #2f424a;
  font-size: 0.8dvw;
  font-family: 'Quattrocento', serif;
  width: 100%;
  padding: 0.5dvw;
}

.user:hover {
  cursor: pointer;
  background-color: #e9d5a1;
}

.message-box {
  box-sizing: border-box;
  height: 10dvh;
  margin: 2dvh;
}

.message-box textarea {
  all: unset;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 100%;
  background-color: #E8DAB2;
  border-radius: 2dvw;
  border: .3dvw solid #E8DAB2;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 2dvw;
  padding-right: 5dvw;
  padding-top: 1.6dvh;
  font-family: 'Quattrocento', serif;
  font-size: 1.3dvw;
  font-weight: bold;
  color: #423B0B;
  caret-color: #423B0B;
  scrollbar-width: none;
}

.message-box textarea:focus {
  border: .3dvw solid #5f5948;
}

button {
  color: #4F6D7A;
  background-color: #E8DAB2;
  font-size: 1.2dvw;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  height: 4.5dvh;
  width: 5.5dvw;
  border: .2dvh solid #2f424a;
}

button:hover {
  background-color: #e9d5a1;
}

.close {
  margin: 0% 10% 7% 10%;
}

.change-btn {
  margin: 0% 10% 7% 10%;
  float: right;
}
