body {
  background-color: #4F6D7A;
}

.chat-interface {
  width: 77%;
  height: 70%;
  margin: auto;
  display: flex;
}

.channel-container-border {
  width: 25%;
  border: .9rem solid #E8DAB2;
  position: relative;
}

.channel-container-border app-create-channel-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.channel-container {
  margin: .9rem;
  max-height: 80%;
  overflow: auto;
}

.content-container {
  border-top: .9rem solid #E8DAB2;
  border-bottom: .9rem solid #E8DAB2;
  border-right: .9rem solid #E8DAB2;
  width: 75%;
  overflow: hidden;
}
