<body>
  <div class="chat-interface">
    <div class="channel-container-border">
      <div class="channel-container">
        <app-sidebar-channel></app-sidebar-channel>
        <app-sidebar-channel></app-sidebar-channel>
        <app-sidebar-channel></app-sidebar-channel>
      </div>
    </div>
    <div class="message-and-messagebox-container">
      <div class="message-container">
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
      </div>
      <div class="message-box">
        <textarea type="text" placeholder="Message" autofocus></textarea>
      </div>
    </div>
  </div>
</body>
