.message-container {
  margin-top: 1.4dvh;
  padding-left: 2dvw;
  padding-right: 2dvw;
  height: 53.7dvh;
  overflow: auto;
}

.message-box {
  box-sizing: border-box;
  height: 15dvh;
  margin-top: 3dvh;
  margin-left: 2dvw;
  margin-right: 2dvw;
  bottom: .9dvh;
  position: relative;
}

.message-box textarea {
  all: unset;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 15dvh;
  background-color: #E8DAB2;
  border-radius: 2dvw;
  border: .3dvw solid #E8DAB2;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 2dvw;
  padding-right: 5dvw;
  padding-top: 1.6dvh;
  font-family: 'Quattrocento', serif;
  font-size: 1.3dvw;
  font-weight: bold;
  color: #423B0B;
  caret-color: #423B0B;
  scrollbar-width: none;
}

.message-box textarea:focus {
  border: .3dvw solid #5f5948;
}

.send-button img {
  width: 1.7dvw;
  background-color: #5f5948;
  border-radius: .5dvw;
  padding: .7dvh .4dvw;
  position: absolute;
  top: 37%;
  right: 3.5%;
}

.send-button:hover {
  cursor: pointer;
}

.send-button:hover img {
  background-color: #494437;
}
