@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');
@import url('https://db.onlinewebfonts.com/c/eaa110aa369eee0cf5c29493c362bbef?family=Bodoni+MT+Poster+Compressed+V2');

body {
  background-color: #4F6D7A;
  position: relative;
}

.profile-interface {
  width: 80%;
  height: 77%;
  margin: auto;
  display: flex;
}

button {
  margin-top: 3%;
  color: #4F6D7A;
  background-color: #E8DAB2;
  font-size: 1dvw;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  height: 4dvh;
  width: 10dvw;
}

button:hover {
  background-color: #e9d5a1;
}

/************************* User info *************************/

.info-container {
  width: 30%;
  border: .7dvw solid #E8DAB2;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.profile-pic {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.profile-pic input {
  display: none;
}

.profile-pic .ppic {
  border: .2dvw solid #2f424a;
  border-radius: 50%;
  clip-path: circle();
  background-size: cover;
  height: 12dvw;
  width: 12dvw;
}

.edit-image {
  position: fixed;
  opacity: 0%;
  background-color: #2f424a;
  border-radius: 50%;
  clip-path: circle();
  height: 12.2dvw;
  width: 12.5dvw;
}

.edit-image:hover {
  cursor: pointer;
  opacity: 50%;
}

.edit-image img {
  width: 4.5dvw;
  margin-left: 4dvw;
  margin-top: 3.7dvw;
}

.username {
  margin: 0%;
  margin-top: 3%;
  font-family: 'Bodoni Moda', serif;
  font-size: 3dvw;
  color: #E8DAB2;
}

.username:hover, .title:hover {
  cursor: pointer;
}

.title {
  margin: 0% 0%;
  font-family: 'Bodoni Moda', serif;
  font-size: 1.5dvw;
  color: #2f424a;
}

.name-input-container, .title-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  padding: 2%;
  padding-left: 4%;
  width: 70%;
  box-sizing: border-box;
  height: 100%;
  font-size: 0.9dvw;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  border: none;
  border-bottom: .1dvw solid #E8DAB2;
  border-top: .1dvw solid #425c68;
  background-color: #425c68;
  color: #E8DAB2;
  outline: none;
}

.is-invalid {
  border-bottom: .1dvw solid #b04343;
}

.change-btn {
  margin-top: 0%;
  font-size: 1dvw;
  height: 2.4dvw;
  width: 4.5dvw;
  border: .2dvh solid #2f424a;
}

.btn-invalid {
  color: #2b3a41;
  background-color: #988e6f;
}

.btn-invalid:hover {
  color: #2b3a41;
  background-color: #988e6f;
}

.status {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.status .dot-online {
  height: 1dvw;
  width: 1dvw;
  background-color: #618B4A;
  border-radius: 50%;
}

.status .dot-offline {
  height: 1dvw;
  width: 1dvw;
  background-color: #8b4a4a;
  border-radius: 50%;
}

.status h2 {
  margin: 0%;
  margin-left: 2%;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  font-size: 1.2dvw;
  color: #E8DAB2;
}

.logout {
  color: #b04343;
}

.removeFriend {
	color: #b04343;
}

/************************* Stats *************************/

.stats-container h1 {
  margin: 0;
  padding: 0;
  height: 10%;
  margin-top: 5%;
  align-self: center;
  display: flex;
  align-items: center;
  font-family: 'Bodoni Moda', serif;
  font-size: 1.5dvw;
  color: #E8DAB2;
}

.stats-container h2 {
  margin: 0;
  padding: 0;
  align-self: center;
  width: 80%;
  max-width: 80%;
  display: flex;
  justify-content: center;
  font-family: "Bodoni MT Poster Compressed V2";
  font-size: 9.5dvw;
  font-weight: normal;
  color: #2f424a;
}

.stats-container {
  margin-left: 1%;
  width: 70%;
  border: .7dvw solid #E8DAB2;
  display: flex;
  flex-flow: column;
}

.upper-row {
  border-bottom: .35dvw solid #E8DAB2;
  height: 35%;
  display: flex;
  align-items: center;
}

.bottom-row {
  border-top: .35dvw solid #E8DAB2;
  height: 65%;
  display: flex;
  align-items: center;
}

.level {
  width: 30%;
  height: 100%;
  border-right: .7dvw solid #E8DAB2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wins-losses {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2f424a;
}

.wins-losses h1, .wins-losses h2 {
  color: #E8DAB2;
}

.matches-played {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: .7dvw solid #E8DAB2;
}

.friends {
  width: 50%;
  height: 100%;
  border-right: .7dvw solid #E8DAB2;
}

.friends .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #E8DAB2;
  border: .7dvw solid #4F6D7A;
  box-sizing: border-box;
}

.friend-sections {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friend-sections div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  border: .1dvw solid #E8DAB2;
}

.friend-sections div:hover {
  cursor: pointer;
}

.friend-sections .selected {
  background-color: #e9d5a1;
  border: .1dvw solid #e9d5a1;
  border-bottom: .1dvw solid #2b3a41;
}

.friend-sections h1 {
  font-size: 1.2dvw;
  margin: auto;
  color: #2f424a;
}

.friends-container, .requests-container {
  margin: 1dvw 2dvw 2dvw 2dvw;
  overflow: auto;
}

.no-friends, .no-requests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 70%;
}

.no-friends h1, .no-requests h1 {
  font-family: 'Bodoni Moda', serif;
  font-size: 2dvw;
  margin: 0%;
  padding: 0%;
  color: #2f424a;
}

.no-friends h2, .no-requests h2 {
  font-family: 'Bodoni Moda', serif;
  font-size: 1dvw;
  margin: 0%;
  padding: 0%;
  color: #2f424a;
}

.match-history {
  width: 50%;
  height: 100%;
}

.match-history .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2f424a;
  border: .7dvw solid #4F6D7A;
  box-sizing: border-box;
}

.matches-container {
  margin: 1dvw 2dvw 2dvw 2dvw;
  overflow: auto;
}

.no-matches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.no-matches h1 {
  font-family: 'Bodoni Moda', serif;
  font-size: 2dvw;
}
