<div class="message-session-user-container" *ngIf="sameSender == false && msg?.sessionUser == true">
  <div class="message-session-user">
    <div class="message-content">{{ msg?.content }}</div>
  </div>
</div>

<div class="message-session-user-same-sender-container" *ngIf="sameSender == true && msg?.sessionUser == true">
  <div class="message-session-user-same-sender">
    <div class="message-content">{{ msg?.content }}</div>
  </div>
</div>

<div class="message" *ngIf="sameSender == false && msg?.sessionUser == false">
  <div class="message-sender">{{ msg?.user?.username }}</div>
  <div class="message-content">{{ msg?.content }}</div>
  <span *ngIf="msg?.inviteId">
    <button (click)="acceptInvite()">Accept</button>
    <button (click)="declineInvite()">Reject</button>
  </span>
</div>

<div class="message-same-sender" *ngIf="sameSender == true && msg?.sessionUser == false">
  <div class="message-content">{{ msg?.content }}</div>
  <span *ngIf="msg?.inviteId">
    <button (click)="acceptInvite()">Accept</button>
    <button (click)="declineInvite()">Reject</button>
  </span>
</div>
