@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

.message-session-user-container {
  clear: both;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 0;
  max-width: 100%;
}

.message-session-user {
  display: inline-block;
  padding-left: 1.2dvw;
  padding-right: 1.2dvw;
  padding-bottom: 0.7dvw;
  padding-top: 0.7dvw;
  margin-bottom: 0.5dvw;
  background-color: #CBE8EF;
  border-radius: 1.5dvw 0dvw 1.5dvw 1.5dvw;
  line-height: 1.5;
  word-wrap: break-word;
  max-width: 60%;
}

.message-session-user-same-sender-container {
  clear: both;
  float: right;
  max-width: 60%;
}

.message-session-user-same-sender {
  display: inline-block;
  padding-left: 1.2dvw;
  padding-right: 1.2dvw;
  padding-bottom: 0.7dvw;
  padding-top: 0.7dvw;
  margin-bottom: 0.5dvw;
  background-color: #CBE8EF;
  border-radius: 1.5dvw 1.5dvw 1.5dvw 1.5dvw;
  line-height: 1.5;
  word-wrap: break-word;
  max-width: 60%;
}

.message {
  display: inline-block;
  padding-left: 1.2dvw;
  padding-right: 1.2dvw;
  padding-bottom: 0.7dvw;
  padding-top: 0.7em;
  margin-bottom: 0.5dvw;
  background-color: #E8DAB2;
  border-radius: 0dvw 1.5dvw 1.5dvw 1.5dvw;
  max-width: 60%;
  line-height: 1.5;
  word-wrap: break-word;
}

.message-same-sender {
  display: inline-block;
  padding-left: 1.2dvw;
  padding-right: 1.2dvw;
  padding-bottom: 0.7dvw;
  padding-top: 0.7dvw;
  margin-bottom: 0.5dvw;
  background-color: #E8DAB2;
  border-radius: 1.5dvw 1.5dvw 1.5dvw 1.5dvw;
  max-width: 60%;
  line-height: 1.5;
  word-wrap: break-word;
}

.message-sender {
  font-family: 'Quattrocento', serif;
  font-size: 1dvw;
  font-weight: bold;
  color: #4F6D7A;
  cursor: pointer;
}

.message-content {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  font-size: 0.9dvw;
  color: #423B0B;
  white-space: pre-wrap;
}

button {
  color: #4F6D7A;
  background-color: #E8DAB2;
  font-size: .7dvw;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  height: 4dvh;
  width: 8dvw;
}

button:hover {
  background-color: #e9d5a1;
}
