
body {
    background-color: #4F6D7A;
    position: relative;
}

.board-interface {
  width: 80%;
  height: 77%;
  margin: auto;
  border: .7dvw solid #E8DAB2;
  box-sizing: border-box;
}

.players-container {
	margin: 1dvw 2dvw 2dvw 2dvw;
	overflow: auto;
  }

.no-players {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 100%;
}

.no-players h1 {
	font-family: 'Bodoni Moda', serif;
	font-size: 2dvw;
	color: #E8DAB2;
}