@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

.channel {
  position: relative;
  background-color: #E8DAB2;
  padding: 1.1dvw;
  border: .1dvw solid #E8DAB2;
  height: 1.4dvw;
  margin-bottom: .17dvw;
  display: flex;
  align-items: center;
}

.channel:hover {
  cursor: pointer;
  background-color: #e9d5a1;
  border: .1dvw solid #e9d5a1;
}

.type, .type-direct {
  display: flex;
  justify-content: center;
  width: 20%;
}

.type img {
  width: 1.5dvw;
}

.type-direct img {
  border: .05dvw solid #2f424a;
  border-radius: 50%;
  background-size: cover;
  height: 2dvw;
  width: 2dvw;
  object-fit: cover;
  object-position: center;
}

.name {
  padding-left: 0.3dvw;
  width: 80%;
  font-family: 'Quattrocento', serif;
  font-size: 1dvw;
  font-weight: bold;
  color: #4F6D7A;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.selected-channel {
  background-color: #2f424a;
  padding: 1.1dvw;
  display: flex;
  border: .1dvw solid #E8DAB2;
}

.selected-channel .name {
  color: #E8DAB2;
}

.selected-channel:hover {
  background-color: #2f424a;
}

.selected-channel .type img {
  filter: brightness(0) saturate(100%) invert(83%) sepia(14%) saturate(475%) hue-rotate(7deg) brightness(104%) contrast(92%);
}
