@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

.channel {
  background-color: #E8DAB2;
  padding: 1.1dvw;
  border: .1dvw solid #E8DAB2;
  margin-bottom: .17dvw;
  display: flex;
  align-items: center;
}

.channel:hover {
  cursor: pointer;
  background-color: #e9d5a1;
  border: .1dvw solid #e9d5a1;
}

img {
  width: 1.5dvw;
  margin-right: .5dvw;
}

.selected-channel .type-protected, .selected-channel .type-public, .selected-channel .type-private {
  filter: brightness(0) saturate(100%) invert(83%) sepia(14%) saturate(475%) hue-rotate(7deg) brightness(104%) contrast(92%);
}

.name {
  padding-left: 0.3dvw;
  width: 90%;
  font-family: 'Quattrocento', serif;
  font-size: 1dvw;
  font-weight: bold;
  color: #4F6D7A;
  text-overflow: ellipsis;
  overflow: hidden;
}

.selected-channel {
  background-color: #2f424a;
  padding: 1.1dvw;
  display: flex;
  border: .1dvw solid #E8DAB2;
}

.selected-channel .name {
  color: #E8DAB2;
}

.selected-channel:hover {
  background-color: #2f424a;
}

.type-direct {
  display: flex;
  justify-content: center;
  width: 10%;
}

.type-direct img {
  border: .05dvw solid #2f424a;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}

.dot-online, .dot-offline, .dot-playing {
  height: 1dvw;
  width: 1dvw;
  background-color: #618B4A;
  border-radius: 50%;
}

.dot-offline {
	background-color: #8b4a4a;
}

.dot-playing {
  background-color: #e1ce23;
}
