@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-input {
  appearance: none;
  content: url(https://svgsilh.com/svg/1727487-4F6D7A.svg);
  width: 77%;
  padding: .5em;
  display: inline;
  cursor: pointer;
  white-space: nowrap;
  background-color: #E8DAB2;
  border-radius: 4em;
  width: 4.7em;
  height: 4.7em;
  transform: rotate(0deg);
  animation: rotate-backward 1s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dd-input:hover {
  background-color: #e9d5a1;
}

.dd-menu {
  position: absolute;
  top: 80%;
  border: 0.1em solid #E8DAB2;
  border-radius: 1em;
  padding: 0;
  background-color: #4F6D7A;
  list-style-type: none;
}

.dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu{
  display: block;
}

.dd-input:checked {
  background-color: #e9d5a1;
  transform: rotate(45deg);
  animation: rotate-forward 1s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes rotate-forward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes rotate-backward {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.dd-menu li {
  font-family: 'Quattrocento', serif;
  font-size: 1.5em;
  color: #E8DAB2;
  padding: 0.5em 1em;
  cursor: pointer;
  white-space: nowrap;
}

.private-channel {
  border-radius: 0.5em 0.5em 0em 0em;
}

.protected-channel {
  border-radius: 0em 0em 0.5em 0.5em;
}

.dd-menu li:hover {
  background-color: #E8DAB2;
  color: #4F6D7A;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #E8DAB2;
}
