@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&display=swap');

.request-password-menu-border {
  position: absolute;
  width: 40%;
  z-index: 3;
  border: .1dvw solid #2f424a;
  box-sizing: border-box;
  filter: drop-shadow(0 .1dvw .2dvw rgba(0, 0, 0, 0.8));
  left: 0%;
}

.request-password-menu {
  box-sizing: border-box;
  background-color: #4F6D7A;
  border: .7dvw solid #E8DAB2;
}

.title {
  margin: 5%;
  color: #2f424a;
  font-family: 'Bodoni Moda', serif;
  font-size: 1.5dvw;
  text-align: center;
  justify-content: center;
}

p {
  margin: 10%;
  margin-bottom: 5%;
  margin-top: 0%;
  padding: 0%;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  text-align: center;
  color: #2f424a;
  font-size: .7dvw;
}

label {
  display: block;
  margin-left: 10%;
  font-size: 1dvw;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  color: #E8DAB2;
}

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  display: block;
  margin: 3% 2% 0% 10%;
  padding: 3%;
  width: 74%;
  font-size: 0.9dvw;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  border: none;
  border-bottom: .1dvw solid #E8DAB2;
  background-color: #425c68;
  color: #E8DAB2;
  outline: none;
}

.dd-button {
  appearance: none;
  width: 77%;
  padding: .1dvw;
  display: inline;
  cursor: pointer;
  white-space: nowrap;
  background-color: #E8DAB2;
  border-radius: 1dvw;
  width: .5dvw;
  height: .5dvw;
  transform: rotate(45deg);
}

.dd-button:hover {
  background-color: #e9d5a1;
}

.user-dropdown {
  background-color: #E8DAB2;
  box-sizing: border-box;
  border: .1dvw solid #E8DAB2;
  width: 100%;
  padding: 0.5dvw;
  border: .1dvw solid  #2f424a;
  display: flex;
}

.user-dropdown:hover {
  cursor: pointer;
  background-color: #e9d5a1;
}

button {
  color: #4F6D7A;
  background-color: #E8DAB2;
  font-size: 1.2dvw;
  font-family: 'Quattrocento', serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  height: 4.5dvh;
  width: 5.5dvw;
  border: .2dvh solid #2f424a;
}

button:hover {
  background-color: #e9d5a1;
}

.close {
  margin: 0% 10% 7% 10%;
}

.message-box {
  box-sizing: border-box;
  height: 15dvh;
  margin-top: 3dvh;
  margin-left: 2dvw;
  margin-right: 2dvw;
  bottom: .9dvh;
  position: relative;
}

.message-box textarea {
  all: unset;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 100%;
  background-color: #E8DAB2;
  border-radius: 2dvw;
  border: .3dvw solid #E8DAB2;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 2dvw;
  padding-right: 5dvw;
  padding-top: 1.6dvh;
  font-family: 'Quattrocento', serif;
  font-size: 1.3dvw;
  font-weight: bold;
  color: #423B0B;
  caret-color: #423B0B;
  scrollbar-width: none;
}

.message-box textarea:focus {
  border: .3dvw solid #5f5948;
}

.send-button img {
  width: 1.7dvw;
  background-color: #5f5948;
  border-radius: .5dvw;
  padding: .2dvh .3dvw;
  position: absolute;
  top: 35%;
  right: 3.5%;
}

.send-button:hover {
  cursor: pointer;
 }

.send-button:hover img {
  background-color: #494437;
}
