@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

.channel {
  background-color: #E8DAB2;
  padding: 7%;
  border-bottom: .17em solid #4F6D7A;
  display: flex;
}

.channel:hover .type-protected img {
  filter: brightness(0) saturate(100%) invert(83%) sepia(14%) saturate(475%) hue-rotate(7deg) brightness(104%) contrast(92%);
}

.channel:hover .type-public img {
  filter: brightness(0) saturate(100%) invert(83%) sepia(14%) saturate(475%) hue-rotate(7deg) brightness(104%) contrast(92%);
}

.channel:hover .name {
  color: #E8DAB2;
  /* animation: scale-down 1s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(98%); */
}

.channel:hover {
  background-color: #4F6D7A;
  cursor: pointer;
}

@keyframes scale-down {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(98%);
  }
}

.channel .type-protected {
  width: 10%;
  position: relative;
}

.channel .type-protected img{
  width: 2rem;
  position: absolute;
  top: 20%;
}

.channel .type-public {
  width: 10%;
}

.channel .type-public img{
  width: 2rem;
}

.channel .name {
  padding-left: 2%;
  width: 90%;
  font-family: 'Quattrocento', serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #4F6D7A;
}
