<div class="channel-messages-settings-border" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="channel-messages-settings">
    <h1 class="title">Channel Settings.</h1>
    <p>To access the different options, hover over a user's name and click the dropdown menu.</p>
    <div class="pass-moderation-option" *ngIf="canManagePassword() && wantsToRemovePass === false && wantsToChangePass === false">
      <button (click)="wantsToRemovePass = true">Remove password</button>
      <button (click)="wantsToChangePass = true">Change password</button>
    </div>
    <label for="channel-password" *ngIf="canManagePassword() && wantsToChangePass">Input new password:</label>
    <label for="channel-password" *ngIf="canManagePassword() && wantsToRemovePass">Verify password to remove:</label>
    <label for="channel-password" *ngIf="canAddPassword()">Add a password to your channel:</label>
    <div class="password-field-container" *ngIf="wantsToChangePass || wantsToRemovePass || canAddPassword()">

      <input type="password"
             id="channel-password"
             #channelpassword="ngModel"
             [class.is-invalid]="channelpassword.invalid"
             required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
             [(ngModel)]="channelPassword">

             <label class="verify-pass" for="channel-password-verify" *ngIf="canManagePassword() && wantsToChangePass">Input old password:</label>

      <input *ngIf="canManagePassword() && wantsToChangePass"
             type="password"
             id="channel-password-verify"
             #channelpasswordverify="ngModel"
             [class.is-invalid]="channelpasswordverify.invalid"
             required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
             [(ngModel)]="channelPasswordVerify">

      <div class="password-buttons">
        <button class="pass-mod" *ngIf="canManagePassword() && wantsToChangePass"
                                 (click)="passModeration('change')"
                                 [disabled]="channelpassword.invalid"
                                 [class.btn-invalid]="channelpassword.invalid">
                                 Change
        </button>
        <button class="pass-mod" *ngIf="canManagePassword() && wantsToRemovePass"
                                 (click)="passModeration('remove')"
                                 [disabled]="channelpassword.invalid"
                                 [class.btn-invalid]="channelpassword.invalid">
                                 Remove
        </button>
        <button class="pass-mod" *ngIf="canAddPassword()"
                                 (click)="passModeration('add')"
                                 [disabled]="channelpassword.invalid"
                                 [class.btn-invalid]="channelpassword.invalid">
                                 Add
        </button>
      </div>
    </div>

      <label for="user-search" *ngIf="channel?.type === 'private'">Search for user to invite:</label>
      <div class="invite-to-channel" *ngIf="channel?.type === 'private'">
        <input type="text" id="user-search" [formControl]="privateUserSearch" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
        <div class=name *ngFor="let user of searchedUsers">
          <span class="user-dropdown" (click)="sendInviteToChannel(user.id)">
            {{ user.username }}
          </span>
        </div>
      </div>

    <div class="users-container">
      <div *ngFor="let user of users">
        <app-channel-user [user]="user"
                          [currentUser]="currentUser"
                          [channel]="channel">
        </app-channel-user>
      </div>
    </div>
    <div class="footer">
      <button class="exit" (click)="exitChannel()" *ngIf="channel?.type !== 'direct'" >Exit channel</button>
      <button class="close" (click)="toggle()">Close</button>
    </div>
  </div>
</div>
