@import url('https://db.onlinewebfonts.com/c/eaa110aa369eee0cf5c29493c362bbef?family=Bodoni+MT+Poster+Compressed+V2');

.game_board {
  background-color: #4F6D7A;
  width: 80%;
  height: 77%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Bodoni MT Poster Compressed V2";
  font-size: 23dvw;
  font-weight: normal;
  color: #2f424a;
}

#ball {
  fill: #E8DAB2;
}

.net {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1px;
  height: 100%; background-color: #E8DAB2;
  stroke: #E8DAB2;
  stroke-width: 1%;
}

.start_button{
    display: flex;
}

