body{
    background-color: #E8DAB2;
    margin: 0;
}

.menu{
    width: 100vw;
    height: 95vh;
    position: absolute;
    background-image: linear-gradient( orange 60%, transparent, cyan);
    
}

.menu-background{
    margin-top: 25% ;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 600px;
    background-color: #E8DAB2;
}

.m-game{
    display: flex;
    width: 300px;
    height: 300px;
    content: "";
    background-color: blue;
    border-radius: 00px 40px 40px 40px;
}

.m-chat{
    display: flex;
    width: 300px;
    height: 300px;
    content: "";
    background-color: blue;
}

.m-profile{
    display: flex;
    width: 300px;
    height: 300px;
    content: "";
    background-color: blue;
}