
.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100vw;
    height: 5vh;
    background-color: blueviolet;
}

.nav-account{
    background-color: rgb(203, 147, 255);
    width: 33%;
    height: 100%;
}

.nav-settings{
    background-color: rgb(203, 147, 255);
    width: 33%;
    height: 100%;
}

.nav-search{
    background-color: rgb(203, 147, 255);
    width: 33%;
    height: 100%;
}
