<div class="flex-container">
  <div class="title">
    <h1>Le Pong.</h1>
    <button>Log in</button>
  </div>
  <div class="description">
    <p>Pong, created by Atari, is
    widely regarded as the first
    commercially successful
    video game. Released in 1972, it
    simulated table tennis
    and featured simple
    two-dimensional graphics.
    Pong's popularity paved the
    way for the growth of the
    video game industry, becoming
    a cultural phenomenon and
    laying the foundation
    for future advancements
    in gaming technology.</p>
  </div>
</div>
